* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --dark-bg-color: #1f2937;
  /* Hero main text, header logo text */
  --hero-main-text: #f9faf8;
  --hero-secondary-text: #e5e7eb;
  /* Button color, call to action bg color */
  --button-color: #3882f6;
  --info-header-text: #1f2937;
  --quote-section-bg: #e5e7eb;
  --quote-text: #1f2937;
}

.header {
  background-color: var(--dark-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  color: var(--hero-main-text);
  font-size: 24px;
  cursor: pointer;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--hero-secondary-text);
  gap: 12px;
}

.navigation > li {
  cursor: pointer;
}

.hero {
  padding: 100px 200px;
  display: flex;
  background-color: var(--dark-bg-color);
}

.hero-sign-up-container {
  align-content: center;
}

.hero-header {
  font-size: 48px;
  color: var(--hero-main-text);
  font-weight: 900;
  margin-bottom: 5px;
}

.hero-description {
  font-size: 18px;
  color: var(--hero-secondary-text);
  padding-right: 250px;
  margin-bottom: 10px;
}

.hero-sign-up {
  font-size: 14px;
  font-weight: bold;
  color: var(--hero-main-text);
  background-color: var(--button-color);
  padding: 8px 32px;
  border-radius: 5px;
  border: none;
}

.hero-image {
  width: 600px;
}

.info-header {
  font-size: 36px;
  color: var(--quote-text);
  text-align: center;
  margin: 30px 0;
}

.info-boxes {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding-bottom: 150px;
}

.info-box {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.info-box-image {
  flex: 1 200px;
  border: 5px solid var(--button-color);
  border-radius: 10px;
  margin-bottom: 10px;
}

.info-box > p {
  font-size: 18px;
  text-align: center;
}
